#myid
{
    justify-content: center;
    height: 700px;
    width: 1500px;
    background-color: rgb(213, 205, 195);
    display: flex;
    align-items: center;
}
#button
{
    justify-content: center;
    align-items: center;
}
#id
{
    border: 3px double black;

}